{
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": ["error"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "env": {
    "jest/globals": true,
    "node": true
  }
}
